header .enter-or-register-box a {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    color: #9D5D35;
    letter-spacing: 0.05em;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    /*overflow: hidden;*/
}

header .enter-or-register-box a:hover {
    color: #fff;
    background-color: #9D5D35;
}

main {
    min-height: 28rem;
}

main textarea {
    padding: 5px;
    width: 38.3rem;
    height: 25rem;
    border-radius: 5px;
}

main textarea {
    outline-color: #9D5D35;
}

main .request textarea {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

main .response textarea {
}

.copyButton {
  padding: 2px;
  border: 2px solid #e7e7e7e;
  background-color: white;
  transition-duration: 0.4s;
}

.copyButton:hover {
  background-color: #e7e7e7;
}
